@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body{
    font-family: 'Poppins', sans-serif;
    margin: 0%;
    padding: 0%;
}

.section-1{
    background-image: url(/images/top-banner.png);
    background-repeat: no-repeat;

display: flex;
}
h1{
    font-size: 50px;

}
.developer-name{
    color: orange;
}
.half-width{
    width: 50%;
    padding: 3% 5%;
}
.half-width img{
    width: 80%;
    margin-left: 50px;
}
.hire-bnt{
    margin: 30px 0px;
}
.hire-bnt a{ 
    background-image: linear-gradient(to right, red , rgb(255, 94, 0));
  
    text-decoration: none;
    color: white;
    padding: 10px 40px;
    border-radius: 5px;
    font-weight: bold;
}
.hire-bnt a:hover{ 
    background-image: linear-gradient(to right, rgb(201, 5, 5) , rgb(175, 66, 2));
   
}
